<article>
  <h1>
    <%=t @payment.payment_type %> Payment for <%=t @payment.goods_type %> Goods
    <% if @payment.recurring? %>
      <span class="unsubscribe">
        (<%= link_to t('unsubscribe'), payment_path(@payment.identifier), method: :delete %>)
      </span>
    <% end %>
  </h1>
  <pre><%= JSON.pretty_generate JSON.parse(@payment.details.to_json) %></pre>
</article>