@import "common_variables";

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 1em;
  }
}

.boxes {
  display: -webkit-box;
}

@media only screen and (max-width: 767px) {
  .boxes {
    display: block;
  }
}

div.jGrowl {
  div.notice div.jGrowl-message {
    color: $green;
  }
  div.warn div.jGrowl-message {
    color: $orange;
  }
  div.error div.jGrowl-message {
    color: $light_red;
  }
}

body > header {
  h1 {
    font-weight: normal;
  }
  p {
    color: $gray;
  }
  a {
    color: $gray - #333;
    text-decoration: none;
    &:hover {
      color: $gray
    }
  }
  .money {
    opacity: 0.6;
  }
  figure {
    width: 100%;
    height: 150px;
    margin: 25px 0;
    overflow: hidden;
    border-radius: $default_radius;
  }
  @media only screen and (max-width: 767px) {
    figure {
      height: 60px;
    }
  }
}

body > footer {
  color: $gray;
  font-size: 13px;
  text-align: right;
  margin-top: 20px;
  a {
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray - #333;
    }
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding-left: 15px;
    }
  }
}