@import "common_variables";

.payments {
  dl {
    margin: 1% 0;
    padding: 15px;
    border: 1px solid $light_gray;
    border-radius: $default_radius;
  }
  .unsubscribe {
    font-size: 12px;
    a {
      color: $dark_red;
      text-decoration: none;
    }
    a:hover {
      color: $red;
    }
  }
}