@import "common_variables";

$article_margin: 2%;
$article_padding: 2%;

.top {
  section {
    margin: 20px 0;
  }
  article {
    width: 50% - $article_margin / 2 - $article_padding * 2;
    margin: 10px 0;
    padding: 10px $article_padding;
    border: 1px solid $light_gray;
    border-radius: $default_radius;
    form {
      text-align: right;
    }
    input[type=submit] {
      opacity: 0.6;
      text-indent: -9999px;
      width: 150px;
      height: 33px;
      border: none;
      background: url(https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif);
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: 0.8;
      }
    }
  }
  .boxes article:first-child {
    margin-right: $article_margin;
  }

  @media only screen and (max-width: 767px) {
    $article_padding: $article_padding * 2;
    article {
      width: 100% - $article_padding * 2;
      padding: 10px $article_padding;
    }
    .boxes article:first-child {
      margin-right: 0;
    }
    .popup {
      display: none;
    }
  }
}
