<footer class="page_footer">
  <ul>
    <li><small>&copy; 2011 <a href="http://github.com/nov">nov matake</a></small></li>
    <li><%= link_to 'source code', 'https://github.com/nov/paypal-express-sample'%></li>
  </ul>
</footer>