<header id="masthead">
  <h1><%= link_to t('title'), root_path %></h1>
  <p><%= t 'description' %></p>
  <div class="money">
    <figure>
      <%= image_tag 'money.png' %>
    </figure>
  </div>
</header>